:root {
    --header-height: 4rem;
    --text-red: #bb2b2b;
    --logo-color: #FF4D4D;
    --button-background: #a62626;
}

* {
    box-sizing: border-box;
}

label,
input[type="checkbox"],
input[type="button"],
button {
    cursor: pointer;
}

button,
input[type="button"] {
    display: inline-block;
    height: 2.25rem;
    padding: 0 16px;
    color: #fff;
    line-height: 2.25rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    outline: 0;
    background-color: var(--button-background);
    border: none;
    border-radius: 0.2rem;
}

button:hover,
input[type="button"]:hover {
    background-color: var(--text-red);
}

input[type="checkbox"] {
    overflow: visible;
    width: 0;
    height: 0;
    margin: 0 1rem 1rem 0;
    color: var(--logo-color);
}

input[type="checkbox"]:not(:checked)::after {
    content: url(./square-check-regular.svg);
    display: block;
    width: 1rem;
    height: 1rem;
}

input[type="checkbox"]:checked::after {
    content: url(./square-check-solid.svg);
    display: block;
    width: 1rem;
    height: 1rem;
    /* filter: drop-shadow(0 0 0.1rem var(--logo-color)); */
    /* box-shadow: 0 0 0.1rem var(--logo-color); */
}

body {
    display: grid;
    grid-template: var(--header-height) 1fr calc(var(--header-height) * 2) / 20rem 1fr;
    grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";
    height: 100vh;
    margin: 0;
    background-image: url("background-image.svg");
    font-family: 'Noto Sans KR', sans-serif;
}

nav {
    grid-area: nav;
    background-color: #ffdda1;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #a62626;
}

.logo {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.logo>span {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #FF4D4D;
}

nav ul {
    padding: 0;
}

nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

nav label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header {
    grid-area: header;
}

header>form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

header input {
    font-size: 1.5rem;
}

header input[type="search"] {
    flex-grow: 1;
    padding: 6px;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.125rem 0.125rem rgba(255, 77, 77, 0.125);
}

main {
    grid-area: main;
    padding: 1rem;
    display: grid;
    grid-template: auto / repeat(auto-fill, 100px);
    gap: 1rem;
    justify-items: stretch;
    align-content: start;
}

.cup-ramen {
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    text-decoration: none;
    color: inherit;
    text-align: center;
    transition: 0.2s;
}

.cup-ramen:hover {
    transform: translateY(-3px);
}

.cup-ramen>img {
    flex-grow: 1;
    object-position: center;
    object-fit: contain;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.125);
}

.highlight {
    background-color: #FF4D4D;
    color: #fff;
    box-shadow: 0 0 0.2rem #bb2b2b;
}